*.py[cod]

# Webapp Enhanced: turn these on if you are using hamlpy, sass, and coffee.
# assets/
# views/
# .sass_cache/

# OS X
.DS_Store
Icon
Icon?

# C extensions
*.so

# Packages
MANIFEST
MANIFEST.*
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
